.zone-single-prodict-parent {

  .new {
    .popup {
      position: fixed;
      top: 150px;
      right: 10px;
      background-color: #28a745;
      color: #fff;
      padding: 10px 20px;
      border-radius: 4px;
      font-size: 0.75rem;
      font-family: 'Poppins', 'sans-serif';
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      z-index: 9999;
      animation: slideIn 0.3s ease-in-out;
    }

    .newContainer {
      .bottom {
        .right {
          .form-gap-single {
            max-width: 280px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: space-between;
            font-family: 'Poppins', 'sans-serif';

            textarea {
              height: 100px;
              padding: 5px 5px;
              resize: vertical;
            }

            input {

              padding: 5px 5px;
              border: none;

              border-bottom: 1px solid gray;
            }
          }
        }
      }
    }
  }
}


@media screen and (min-width:768px) {
  .zone-single-prodict-parent {
    .new {
      .popup {
        font-size: 1rem;
      }
    }
  }
}


@media screen and (min-width:1440px) {
  .zone-single-prodict-parent {
    .new {
      .popup {
        font-size: 1.5rem;
      }
    }
  }
}