$gradient: linear-gradient(90deg, #A8791B 0.13%, #BD9A4A 5.13%, #DDCB8F 13.12%, #F1EABA 19.12%, #F9F6CB 22.11%, #A77D46 49.09%, #F3EEA2 83.06%, #EEE495 86.06%, #E1CC75 90.05%, #CCA642 96.05%, #BF8E22 100.04%);

.event-container-parent{
    background-color: #24272A;
}
.event-title-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    margin-top: 50px;

    h2 {
        font-size: 25px;
        font-weight: bold;
        font-family: 'Cormorant', 'serif';
        text-transform: uppercase;
        text-align: center;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        padding: 0px 20px 0px 20px;

    }
}

.event-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24272A;
    max-width: 1240px;
    margin: 0 auto;
}

.event-container-img {
    display: none;
}

.event-list {

    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        font-weight: 500;
        text-transform: capitalize;
        text-decoration: none;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        border-top-style: solid;
        border-width: 1px;
        border-image: $gradient 1;
        background-color: transparent;

        border-bottom-style: solid;
        border-width: 1px;
        border-image: $gradient 1;
        background-color: transparent;
    }
}


.container-event-item {
    margin-top: 50px;

    .event-item {
        display: flex;
        align-items: center;
        cursor: pointer;

        width: 80vw;
        max-width: 565px;
        font-family: 'Cormorant', 'serif';
        font-size: 16px;

        span {
            font-family: 'Cormorant', 'serif';
            font-size: 45px;
            padding-bottom: 16px;
        }

        .event-item-mg {
            margin-left: 30px;
            width: 100%;
        }

        img {
            margin-left: 80px;
        }

    }

    .event-item:hover .event-arrow {
        animation: smooth-rotate .05s forwards;
        transform-origin: center;
    }
    
    @keyframes smooth-rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(40deg);
        }
    }
}


.event-image {

    display: none;
}

.event-image img {
    max-width: 510px;
    max-height: 710px;
}


@media screen and (min-width:425px) {

    .container-event-item {

        .event-item {
            font-size: 20px;
        }
    }

}

@media screen and (min-width:433px) {
    .event-title-underline {
        background-color: $gradient;
        width: 100%;
        max-width: 400px;
        height: 1px;
        background-image: $gradient;
        margin: 0 30px;
    }
}

@media screen and (min-width:1024px) {


    .event-title-center {

        h2 {

            font-size: 32px;
            white-space: nowrap;
        }

        .event-title-underline {
            background-color: $gradient;
            width: 100%;
            max-width: 600px;
            height: 1px;
            background-image: $gradient;
            margin: 0 30px;
        }

    }

    .container-event-item {
        margin-top: 90px;

        .event-item {
            width: 35vw;
            max-width: 445px;
            font-size: 26px;
        }
    }

    .event-container {
        align-items: flex-start;
        padding-bottom: 40px;
        gap: 75px;
    }

    .event-list {
        width: 565px;
        padding-right: 20px;

        .container-event-item {
            margin-top: 130px;

        }
    }

    .event-item {
        font-size: 24px;

        span {
            font-size: 60px;
            padding-bottom: 20px;
        }

        img {
            margin-left: 0px;
        }
       
    }

    .event-container-img {
        display: block;
        margin-top: 120px;
        width: 40vw;
        max-width: 380px;
        height: 510px;
        border-style: solid;
        border-width: 1px;
        border-image: $gradient 1;
        background-color: transparent;
        position: relative;
        margin-left: 20px;
    }

    .event-image {
        display: none;

        width: 40vw;
        max-width: 380px;
        height: 510px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -12px;
        left: 10px;

        img {
            width: 40vw;
            max-width: 380px;
            height: 510px;
        }
    }



}

@media screen and (min-width:1240px) {

    .event-container {
        gap: 140px;

        .container-event-item {
                 
            .event-item {
                width: 35vw;
                max-width: 565px;
                font-size: 26px;
            }
            .event-item {
                font-size: 32px;

                span {
                    font-family: 'Cormorant', 'serif';
                    font-size: 80px;
                    padding-bottom: 28px;
                }

            }
        }
    }

    .event-container-img {
        display: block;
        margin-top: 120px;
        width: 40vw;
        max-width: 510px;
        height: 710px;
        border-style: solid;
        border-width: 1px;
        border-image: $gradient 1;
        background-color: transparent;
        position: relative;
        margin-left: 20px;
    }

    .event-image {
        display: none;

        width: 40vw;
        max-width: 510px;
        height: 710px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -12px;
        left: 10px;

        img {
            width: 40vw;
            max-width: 510px;
            height: 710px;
        }
    }

}