.entete-parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #393C3F;
    .entete {

        
        display: flex;
        align-items: center;
        padding: 15px 10px 15px 40px;
    
    
        .bloc-social-icon {
            
            display: flex;
            gap: 25px;
    
    
            .social-icon {
                height: 20px;
            }
        }
    
        .entete-email, .entete-phone{
            position: relative;
            a{
                text-decoration: none;
            }

           button{
            border: none;
            bottom: 10px;
            right: -15px;
            position: absolute;
            background-color: transparent;
            color: white;
            cursor: pointer;
           }
        }
        .tiktok {
            height: 20px;
        }
    
        .separator {
            width: 1px;
            /* Largeur du trait de séparation */
            height: 25px;
            /* Hauteur du trait de séparation */
            background-color: #ddd;
            /* Couleur du trait de séparation */
            margin: 0 30px;
            /* Espace autour du trait de séparation */
        }
    
        h2 {
            font-family: 'Poppins', sans-serif;
            font-weight: normal;
            font-size: 14px;
            color: #E7E7E7;
        }
    
        
    
        @media (max-width: 768px){
         
               display: none;
           
        }
    
       
    }

    .btn-email-input,.btn-phone-input{
        button{
            margin-left: 5px;
            background-color: transparent;
            border: 1px solid #E7E7E7;
            padding: 5px 10px;
            color: #E7E7E7;
            cursor: pointer;
        }
    }
    
   
}


.btn-logout-admin{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    padding: 10px 40px;
 
   
   
    button{
        padding: 5px 10px;
        background-color: #542222;
        border: none;
        color: #E7E7E7;
        font-size: 14px;
      
        cursor: pointer;
    }

    button:hover{
        font-weight: bold;
    }
}   


