$white_gradient: linear-gradient(90deg, #e7e7e7 0%, #e7e7e7 100%);

.container_prestation-01{
    background-color: #24272A;
    margin-top: 50px;

    
}
.container-prestation-text-mariage{
    padding-top: 10px;
}
.anchor{
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

.container-prestation-parent-mariage {
    position: relative;
    max-width: 800px;
    margin: 0 auto ;

    .line-prestation-separation-mariage{
       
        width: 100%;
        max-width: 800px;
        height: 1px;
        background-color: #E7E7E7;
        margin: 0 auto;

    }
    .container-prestation-flex {
        display: flex;
        flex-direction: column;
    }
}

.prestation-title-01 {
    margin-top: 40px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;

    img {
        position: absolute;
        z-index: 1;
        font-family: 'Cormorant', 'serif';
        font-weight: bold;
        color: #BCBCBC;
        font-size: 120px;
        width: 70px;
    }

    h2 {
        font-family: 'Cormorant', 'serif';
        font-weight: bold;
        color: #E7E7E7;
        font-size: 1.5625rem;
       
    }
}

.prestation-line-01 {
    width: 20%;
    height: 1px;
    background-color: #E7E7E7;
    margin-left: 30px;
}

.prestation-contenu {
    margin-top: 20px;
    padding: 0 20px;

    p {
        font-family: 'Cormorant', 'serif';
        font-weight: bold;
        color: #E7E7E7;
        font-size: 1rem;
        
    }
}

.prestation-img-center-mariage {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    img {
        width: 210px;
        height: 300px;
        border: 1px solid #E7E7E7;
        padding: 20px;
    }
}

.prestation-tagline-text-001 {
    margin: 40px 0px;
    padding: 0 20px;

    p {
        font-family: 'Cormorant', 'serif';
        font-weight: bold;
        font-size: 1.25rem;
        color: #E7E7E7;
        
    }
}

.prestation-text-001 {
    margin-top: 20px;
    padding: 0 20px;

    p {
        font-family: 'Poppins', 'serif';
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1.5;
        color: #E7E7E7;
    }
}

.prestation-center-btn-desc-mariage {
    display: flex;
    justify-content: center;

    .prestation-btn {
        cursor: pointer;
        text-decoration: none;
        font-family: 'Cormorant', 'serif';
        border-style: solid;
        border-width: 1px;
        background-color: transparent;
        border-image: $white_gradient 1;
        position: relative;
        padding: 10px 40px;
        transition: all 0.3s ease-in-out;
        font-size: 1rem;
        font-weight: bold;
        margin: 30px 0px;

        &:before {
            content: '';
            position: absolute;
            top: 3px;
            left: -6px;
            right: 3px;
            bottom: -6px;
            border-style: solid;
            border-width: 1px;
            border-image: $white_gradient 1;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            &:before {
                transform: translate(4px, -4px);
            }
        }
    }
}

.prestation-img-right-mariage {
    display: none;
}

.container-line-center-mariage{
display: flex;
justify-content: center;
}
.line-prestation-separation-mariage{
    width: 100vw;
    margin: 20px 20px 50px 20px;
    max-width: 800px;
    height: 1px;
    background-color: #E7E7E7;
}
@media screen and (min-width:600px) {
    .container-prestation-parent-mariage {
        display: flex;
    }


    .prestation-img-center-mariage {
        display: none;
    }

    .prestation-img-right-mariage {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 35vw;
            max-width: 310px;
            padding-right: 20px;
            
        }
    }

    .prestation-center-btn-desc-mariage {
        display: flex;
        justify-content: start;
    }
}


@media screen and (min-width:728px) {
    .container-prestation-parent-mariage {
        margin-bottom: 40px;
        padding: 0 20px;
        display: flex;
        align-items: center;
    }

    .prestation-title-01,
    .prestation-tagline-text-001,
    .prestation-text-001 {
        padding: 0;
    }

    .prestation-img-right-mariage {
        img {
            margin-top: 125px;
            padding: 0 0 0 20px;
        }
    }
}

@media screen and (min-width:1024px) {

    .prestation-title-01 {
           
        h2 {
            font-size: 2rem;
        }
    }


    .prestation-tagline-text-001 {
        p {
            font-size: 1.5625rem;
        }
    }

    .prestation-text-001 {
        p {
            font-size: 0.875rem;
        }
    }
}


@media screen and (min-width:1440px) {

    .container-prestation-parent-mariage {
        max-width: 1240px;
        margin: 0 auto;
        justify-content: space-between;
        padding: 0px;
    }

    .prestation-img-right-mariage {
       
        img {
            width: 35vw;
            max-width: 470px;
        }
    }

    .prestation-title-01 {
        margin-top: 100px;
        h2 {
            font-size: 2rem;
        }

        img {
            position: absolute;
            z-index: 1;
            font-family: 'Cormorant', 'serif';
            font-weight: bold;
            color: #BCBCBC;
            font-size: 120px;
            width: 150px;
        }
    }

    .prestation-tagline-text-001 {
        p {
            font-size: 3.75rem;
            line-height: 1.2;
        }
    }

    .prestation-text-001 {
        p {
            max-width: 650px;
            font-size: 0.9375rem;
        }
    }

    .line-prestation-separation-mariage{
        width: 100vw;
        margin: 60px ;
        max-width: 1240px;
        height: 1px;
        background-color: #E7E7E7;
    }
}


@media screen and (min-width:1600px) {

    .container-prestation-parent-mariage {
 
        padding: 60px 0;
    }
}