//variable pour le dégradé :
$gradient: linear-gradient(90deg, #A8791B 0.13%, #BD9A4A 5.13%, #DDCB8F 13.12%, #F1EABA 19.12%, #F9F6CB 22.11%, #A77D46 49.09%, #F3EEA2 83.06%, #EEE495 86.06%, #E1CC75 90.05%, #CCA642 96.05%, #BF8E22 100.04%);
//variable pour les boutons
$black_gradient: linear-gradient(90deg, #24272A 0%, #24272A 100%);




.contact-anchor{
        display: block;
        position: relative;
        top: -120px;
        visibility: hidden;
}
.container-home {
    background-image: linear-gradient(to bottom, #E7E7E7 10vh, #E7E7E7 0%, #24272A 0%, #24272A 70%);
    height: 100vh;
   
}

.container-img {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    position: relative;
    margin-top: 20px;
   
    
    .container-img-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-family: 'Cormorant', 'serif';
            font-weight: bold;
            font-size: 6vw;
            text-transform: uppercase;
            display: inline-block;
            white-space: nowrap;
            padding-bottom: 10px;
            background: $gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
        }

        img {
            width: 15vw;
            max-width: 135px;
        }
    }
}

.container-text {

    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        font-family: 'Cormorant', 'serif';
        font-weight: bold;
        line-height: 1.2;
        text-transform: uppercase;
        margin: 20px 10px 10px 10px;
        text-align: center;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

    }

    .container-discover {
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        justify-content: center;
        align-items: center;

        img {
            width: 110px;
            margin: 5px 0px;
        }
    }

    .btn-decouvrir {
        cursor: pointer;
        font-family: 'Cormorant', 'serif';
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        border-style: solid;
        border-width: 1px;
        border-image: $gradient 1;
        background-color: transparent;
        position: relative;
        margin: 20px 0px;
        padding: 10px 40px;
        transition: all 0.3s ease-in-out;
        font-size: 1rem;
        font-weight: bold;
        
        &:before {
            content: '';
            position: absolute;
            top: 3px;
            left: -6px;
            right: 3px;
            bottom: -6px;
            border-style: solid;
            border-width: 1px;
            border-image: $gradient 1;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            &:before {
                transform: translate(4px, -5px);
            }
        }
    }

    .vertical-line {
        background-color: $gradient;
        width: 1px;
        height: 64px;
        background-image: $gradient;
        margin: 0 30px;
    }

    //section choississez votre expérience
    .event-section-bg {
        background-color: #24272A;
    }

}

//media pour bloqué le text h1 de l'accueil à 86px
@media screen and (min-width: 728px) {
    .home {
        .container-img {
            padding: 0px 20px;
            .container-img-text {
                h1 {
                    font-size:2.875rem;
                }
            }
        }
    }
}




//*******Début media queries*******

/*  --------------------------------
    Media querie pour adapter l'image au centre à 1440px
    --------------------------------
*/
@media screen and (min-width:1440px) {
    .home {
        .container-img {
            max-width: 1240px;
            padding: 0px 0px;
            .container-img-text {
                img {
                    width: 15vw;
                    max-width: 200px;
                }
                h1 {
                    font-size:5.375rem;
                }
            }
        }
}
}




/*  --------------------------------
    Media queries pour la hauteur des écrans
    --------------------------------
*/

//tablette 
@media (min-height: 400px) and (max-height: 690px) {
    .home {
        .container-home {
            height: calc(100vh + 100px); 
        }
    }
}


@media (min-height: 710px) and (max-height: 800px) {
    .home {
        .container-home {
            height: calc(100vh + 100px);
        }
    }
}



/*  --------------------------------
    media pour adapté le titre h2 & btn découvrir
    ----------------------------------
*/
@media screen and (min-width: 425px) {
    .home {
        .container-text {
            h2 {
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (min-width:768px) {
    .home {    
        .container-text {
            h2 {
                max-width: 800px;
                font-size: 2rem;
            }
            .container-discover{

                img{
                    margin: 30px 0px;
                }
                .btn-decouvrir{
                    font-size: 24px;
                }
            }
        }
    }
}


@media screen and (min-width:1024px) {
    .home {    
        .container-text {
            h2 {
                max-width: 800px;
                font-size: 2rem;
            }
        }
    }
}


@media screen and (min-width:1440px) {
    .home {
        .container-text {
          
            h2 {
                font-size:2.5rem;
                max-width: 1240px;
            }
        }
    }
}

@media screen and (min-width:1536px) {
    .home {
        .container-text {
          
            h2 {
                font-size:3.5rem;
                max-width: 1240px;
            }
        }
    }
}








//media pour le gradient de l'accueil
@media screen and (min-width: 375px) {
    .home {
        .container-home {
            background-image: linear-gradient(to bottom, #E7E7E7 12vh, #E7E7E7 0%, #24272A 0%, #24272A 50%)
        }
    }
}

@media screen and (min-width: 768px) {
    .home {
        .container-home {
            background-image: linear-gradient(to bottom, #E7E7E7 24vh, #E7E7E7 0%, #24272A 0%, #24272A 50%)
        }
    }
}

@media screen and (min-width: 1440px) {
    .home {
        .container-home {
            background-image: linear-gradient(to bottom, #E7E7E7 38vh, #E7E7E7 0%, #24272A 0%, #24272A 85%)
        }
    }
}

@media screen and (min-width: 1536px) {
    .home {
        .container-home {
            background-image: linear-gradient(to bottom, #E7E7E7 38vh, #E7E7E7 0%, #24272A 0%, #24272A 85%);
            padding-bottom:30px 
        }
    }
}



