.container-form-parent{
    background-color: #24272A;
    border: 2px solid green;
    .container-form{
        border: 2px solid red;
        background-color: #E7E7E7;
        max-width: 1240px;
        margin: 120px auto  0px;
      
    }
}

.container-speak{
    
}

