.footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 10px;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 50px;

        .left {
            max-width: 350px;

            h1 {
                font-family: 'Cormorant', 'serif';
                font-weight: 500;
                font-size: 1.5rem;
                color: #3A3A3A;
            }

            p {
                font-family: 'Poppins', 'sans-serif';
                font-size: 0.75rem;
                color: #3A3A3A;
                padding: 6px 0px;

            }
        }



        .center {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                display: none;
                width: 150px;
            }

            p {
                display: none;
            }
        }

        .container-line {
            height: 205px;
            position: relative;
            display: none;

            .footer-line {
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                width: 1px;
                height: 100%;
                background-color: #3A3A3A;

            }
        }

        .right {
            .copyright {
                color: #3A3A3A;
                font-family: 'Poppins', 'sans-serif';
                text-align: center;
                font-size: 0.75rem;
                padding: 5px;
                margin-bottom: 20px;
            }

            .right-prestations-website {

                .link-prestations,
                .link-website {
                    display: flex;
                    flex-direction: column;
                    margin: 20px 0;

                    p {
                        color: #3A3A3A;
                        font-family: 'Poppins', 'sans-serif';
                        font-weight: bold;
                        font-size: 0.75rem;
                        padding: 5px 0px;
                    }
                    :link {
                        width: max-content;
                        position: relative;
                        &:hover {
                            &:after {
                                content: "";
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                width: 100%;
                                height: 1px;
                                background-color: #3A3A3A;
                                animation: underline 0.3s forwards;
                                
                            }}
                        }
                    
                }
            }

            .link-social {
                display: flex;
                flex-direction: column;
                margin: 20px 0px;


                p {
                    color: #3A3A3A;
                    font-family: 'Poppins', 'sans-serif';
                    font-weight: bold;
                    font-size: 0.75rem;
                    padding: 5px 0px;
                    
                }

                :link {
                    width: max-content;
                    position: relative;
                    &:hover {
                        &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 1px;
                            background-color: #3A3A3A;
                            animation: underline 0.3s forwards;
                            
                        }}
                    }
                }


                a {
                    text-decoration: none;
                    color: #3A3A3A;
                    font-family: 'Poppins', 'sans-serif';
                    font-size: 0.75rem;
                    padding: 5px 0px;
                }
            }
        }
    }


    @media screen and (min-width: 1024px) {
        .footer {
            .container {
                display: flex;
                flex-direction: row;

                .left {
                    a{
                        text-decoration: none;
                    }
                    max-width: 350px;
                    padding-right: 30px;

                    h1 {
                        font-size: 1.75rem;
                    }

                    p {
                        font-size: 0.875rem;
                    }
                }

                .center {
                    img {
                        display: block;
                    }

                    p {
                        display: block;
                        margin: 20px 0px;
                        font-family: 'Poppins', 'sans-serif';
                        font-size: 0.75rem;
                        color: #3A3A3A;
                        text-align: center;
                    }
                }

                .container-line {
                    display: block;
                    margin: 0 20px;
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    padding-left: 30px;

                    .copyright {
                        display: none;
                    }

                    .link-social {
                        display: flex;
                        flex-direction: column;
                        margin: 0px;
                    }

                    .right-prestations-website {
                        display: flex;

                        .link-prestations,
                        .link-website {
                            display: flex;
                            flex-direction: column;
                            margin: 0;
                            padding: 0px 15px;
                        }
                    }

                }
            }
        }

    }


    @media screen and (min-width: 1440px) {
        .footer {
            max-width: 1240px;

            .container {
                .right {
                    padding-left: 0px;

                    .copyright {
                        display: none;
                    }

                    .right-prestations-website {

                        .link-prestations,
                        .link-website {

                            padding: 0px 25px;
                        }
                    }

                }
            }
        }

    }